---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="flex-shrink-0">
  <Image
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={blogEntry.data.image}
    alt={blogEntry.data.description}
    draggable={"false"}
    width={46}
    height={46}
    inferSize={false}
  />
</div>
