---
import Meta from "@components/Meta.astro";
import Navbar from "@components/sections/navbar&footer/Navbar.astro";
import FooterSection from "@components/sections/navbar&footer/FooterSection.astro";
import { SITE } from "@data/constants";

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = "en" } = Astro.props;

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}
---

<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16 dark">
  <head>
    <Meta meta={meta} structuredData={structuredData} />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script>
      import "@scripts/lenisSmoothScroll.js";
    </script>
  </head>
  <body class="bg-neutral-200 selection:bg-yellow-400 selection:text-neutral-700 dark:bg-neutral-800">
    <!-- Header and Navbar -->
    <header class="bg-white dark:bg-neutral-900 shadow-md sticky top-0 z-50">
      <Navbar />
    </header>

    <!-- Main Content -->
    <main>
      <!-- Hero Section Slot -->
      <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-8">
        <slot name="hero" />
      </div>

      <!-- About Me Section (Full Width) -->
      <div class="w-full">
        <slot name="about-me" />
      </div>

      <!-- Call to Action Section Slot -->
      <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-8">
        <slot name="call-to-action" />
      </div>

      <!-- Blog Section Slot -->
      <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-8">
        <slot name="blog" />
      </div>
    </main>

    <!-- Footer -->
    <FooterSection />

    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
